.op0 > figure
  opacity 0

.fade-out,
.fadeOut
  transform translate(0%, 20%)
  opacity 0 !important
  transition 0.5s

.fade-in,
.fadeIn
  transform translate(0%, 0%)
  opacity 1 !important
  transition 0.5s
