- get_template_part( 'part-header' );

section
  .sw
    .cw
      p
        | Click on the product number for detailed assembly instructions in PDF format. (PDF documents require Adobe Acrobat Reader - click here to download Adobe Acrobat Reader.)
      h4 Instruction Manuals for:
      h3 Chimera Lights
      .custom-bullets
        ul
          li
            a(href!="<?php bloginfo('url'); ?>/manuals/QR_9930_9950.pdf") Triolet with QR Ring - 9930, 9930E, 9950, 9950E
          li
            a(href!="<?php bloginfo('url'); ?>/manuals/OP_9930_9950.pdf") Triolet with&nbsp; OP Ring - 9930OP, 9930E OP, 9950OP, 9950E OP
          li
            a(href!="<?php bloginfo('url'); ?>/manuals/Birdcage_Instructions.pdf")
              span Birdcage #1810
      h3 Hardware
      .custom-bullets
        ul
          li
            a(title='Versi_Bracket_2801_InstructionSht.pdf', href!="<?php bloginfo('url'); ?>/manuals/Versi_Bracket_2801_InstructionSht.pdf") Versi_Bracket_2801
          li
            a(title='Panel Frames & Grip Head', href!="<?php bloginfo('url'); ?>/manuals/Panel_Frames_InstructionSht.pdf") Panel Frames &amp; Grip Head
          li 3030 &amp; 3030m Double Head Bracket Kits (New version coming soon)
          li 3725 Mounting Bracket (New version coming soon)
          li
            a(href!="<?php bloginfo('url'); ?>/manuals/4099_QVP_Rods.jpg") 4099 QVP Adapter Rods
      h3 Lightbanks
      .custom-bullets
        ul
          li
            a(href!="<?php bloginfo('url'); ?>/manuals/Chimera_Lightbanks.pdf") Lightbank Assembly&nbsp;
          li
            a(href!="<?php bloginfo('url'); ?>/manuals/8000_8005_TL_Kits.pdf") 8000 &amp; 8005 TL 24x32 Light Kits
          li
            a(title='OctaPlus_w_photos.pdf', href!="<?php bloginfo('url'); ?>/manuals/OctaPlus_w_photos.pdf")
              | OctaPlus
              sup TM
              | &nbsp;Lightbank
          li
            a(title='Octa 2 Beauty Dish / OB2 PRO Kit', href!="<?php bloginfo('url'); ?>/manuals/1610_1624_OB2.pdf") Octa 2 Beauty Dish / OB2 PRO Kit
          li
            | #1650&nbsp;
            a(title='LED Lightbank for Litepanels 1x1', href!="<?php bloginfo('url'); ?>/manuals/1650_LP_1x1_Lg_Press.pdf") LED Lightbank for Litepanels 1x1
          li
            | #1670&nbsp;
            a(title='LED Lightbank for Flolight 1x1', href!="<?php bloginfo('url'); ?>/manuals/1670_LP_1x1_Lg_Press.pdf") LED Lightbank for Flolight 1x1
          li
            a(href!="<?php bloginfo('url'); ?>/manuals/1395_Instructions.pdf") 1395 Micro Bank
          li
            a(title='Micro 2 Folding LED Lightbanks', href!="<?php bloginfo('url'); ?>/manuals/Micro_2_LED_Lightbanks.pdf") Micro 2 Folding LED Lightbanks
          li
            a(href!="<?php bloginfo('url'); ?>/manuals/Micro_Lightbank2.pdf") Individual Micro Lightbanks
          li
            a(title='1860_1864.pdf', href!="<?php bloginfo('url'); ?>/manuals/1860_1864.pdf") 1860 &amp; 1864 Small Pancake Lantern
          li
            a(title='1865_1869.pdf', href!="<?php bloginfo('url'); ?>/manuals/1865_1869.pdf") 1865 &amp; 1869 Medium Pancake Lantern
          li
            a(title='1870_1874.pdf', href!="<?php bloginfo('url'); ?>/manuals/1870_1874.pdf") 1870 &amp; 1874 Large Pancake Lantern
          li
            a(title='1880_1885.pdf', href!="<?php bloginfo('url'); ?>/manuals/1880_1885.pdf") 1880 &amp; 1885 Lantern Assembly
          li
            a(href!="<?php bloginfo('url'); ?>/manuals/F2_Modular_Instructions.pdf") F2 Modular Lightbank
          li
            a(href!="<?php bloginfo('url'); ?>/manuals/F2X_10x30_Instructions.pdf") F2X Lightbank
          li
            a(href!="<?php bloginfo('url'); ?>/manuals/f2x%20triolet%20kits.pdf") F2X Lightbank Triolet Kits
      h3 Speed Rings
      .custom-bullets
        ul
          li
            a(title='Versi_2800_InstructionSht.pdf', href!="<?php bloginfo('url'); ?>/manuals/Versi_2800_InstructionSht.pdf") Speed Ring 2800 Versi Standard
          li
            a(title='Versi_2800OP_InstructionSht.pdf', href!="<?php bloginfo('url'); ?>/manuals/Versi_2800OP_InstructionSht.pdf") Speed Ring 2800OP Versi Octa
      .custom-bullets
        ul
          li
            a(title='Speed Ring 2270/2270AL', href!="<?php bloginfo('url'); ?>/manuals/2270_2270al.pdf") Speed Ring 2270/2270AL
          li
            a(title='2450_2450al.pdf', href!="<?php bloginfo('url'); ?>/manuals/2450_2450al.pdf") Speed Ring 2450/2450AL
          li
            a(title='2720.pdf', href!="<?php bloginfo('url'); ?>/manuals/2720.pdf") Speed Ring 2720
          li
            a(title='2785M.pdf', href!="<?php bloginfo('url'); ?>/manuals/2785M.pdf") Speed Ring 2785M
          li
            a(title='Speed Ring 2790', href!="<?php bloginfo('url'); ?>/manuals/2790_Instructiions.pdf") Speed Ring 2790
          li
            a(title='Speed Ring 2795', href!="<?php bloginfo('url'); ?>/manuals/2795_Instructions.pdf") Speed Ring 2795
          li
            a(title='2900.pdf', href!="<?php bloginfo('url'); ?>/manuals/2900.pdf") Speed Ring 2900
          li
            a(title='2945.pdf', href!="<?php bloginfo('url'); ?>/manuals/2945.pdf") Speed Ring 2945
          li
            a(title='9015.pdf', href!="<?php bloginfo('url'); ?>/manuals/9015.pdf") Speed Ring 9015
          li
            a(title='9025.pdf', href!="<?php bloginfo('url'); ?>/manuals/9025.pdf") Speed Ring 9025
          li
            a(title='9035.pdf', href!="<?php bloginfo('url'); ?>/manuals/9035.pdf") Speed Ring 9035
          li
            a(title='9045.pdf', href!="<?php bloginfo('url'); ?>/manuals/9045.pdf") Speed Ring 9045
          li
            a(title='9055.pdf', href!="<?php bloginfo('url'); ?>/manuals/9055.pdf") Speed Ring 9055
          li
            a(title='9065.pdf', href!="<?php bloginfo('url'); ?>/manuals/9065.pdf") Speed Ring 9065
          li
            a(title='9075.pdf', href!="<?php bloginfo('url'); ?>/manuals/9075.pdf") Speed Ring 9075
          li
            a(title='9500.pdf', href!="<?php bloginfo('url'); ?>/manuals/9500.pdf") Speed Ring 9500
          li
            a(title='9505.pdf', href!="<?php bloginfo('url'); ?>/manuals/9505.pdf") Speed Ring 9505
          li
            a(title='9510.pdf', href!="<?php bloginfo('url'); ?>/manuals/9510.pdf") Speed Ring 9510
          li
            a(title='9560.pdf', href!="<?php bloginfo('url'); ?>/manuals/9560.pdf") 9560 &quot;Redhead&quot; Ring
          li
            a(title='9565.pdf', href!="<?php bloginfo('url'); ?>/manuals/9565.pdf") Speed Ring 9565
          li
            a(title='9905.pdf', href!="<?php bloginfo('url'); ?>/manuals/9905.pdf") Speed Ring 9905, 9915 &amp; 9925
