:php
  get_template_part( 'part-header' );


  $taxonomy = 'dealer_cat';
  $queried_term = get_query_var($taxonomy);

  $args = array(
    'orderby'       => 'name',
    'order'         => 'ASC',
    'parent'        => 0
  );

  $cats = get_terms($taxonomy, $args);

section.featured-pages
  .sw
    .cw
      - foreach ($cats as $cat) :
      - $link = get_term_link( $cat->slug, 'dealer_cat' );
      - $title = $cat->name;
      - $term_id = $wp_query->queried_object->term_id;
      //- - $image = 'background-image: url('. get_template_directory_uri() .'/images/dealers/Flag_of_' . $title .'.svg )';
      - $image = 'background-image: url('. get_bloginfo("url") .'/images/dealers/Flag_of_' . $title .'.svg )';
        figure.rel.poxya14a_18.poxyb14b_18.poxyc12c_14.poxyd12d_14.poxye12e_14
          a.tx-c(href!="<?php echo $link; ?>")
            figure.rel.image.poxya14a_18.poxyb14b_18.poxyc12c_14.poxyd12d_14.poxye12e_14.bgp-cc.bgs-100(style!='<?php echo $image; ?>')
              .rel._oxap11a_p11.white.bold._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
                h2.txa-8.txb-7.txc-7.txd-6.txe-5(title!='<?php echo $title; ?>')
                  - echo $title;
      - endforeach;
