:php
  /**
   *
   * Chimera template for displaying 404 page
   *
   * @package WordPress
   * @subpackage Chimera
   * @since Chimera 1.0
   */

section.tx-c
  .sw
    .cw
      h1.txa-12.txb-11.txc-4.mb2-c.txd-5.mb2-d.txe-3.mb2-e 404
      h2 Post Type
      h1.txa-12.txb-11.txc-4.mb2-c.txd-5.mb2-d.txe-3.mb2-e
        - echo get_post_type( get_the_ID() );
      h3.txa-6.mb2-a.txb-4.mb2-b.txc-4.mb2-c.txd-5.mb2-d.txe-3.mb2-e
        - _e('Page Not Found', 'poxy');;
      p
        - _e("Sorry, but what you're looking for could not be found.", 'poxy');
