div(modal='showModal')

script(type='text/ng-template', id='modal.html').
  <div ng-show="modal" class="modal-overlay" ng-click="close()">
    <div style="overflow: scroll;" class="modal-menu paxy fill" ng-click="$event.stopPropagation()">
      <span ng-transclude></span>
      <section>
        <div class="sw">
          <div class="cw tx-u rel">
            <div ng-click="close()" class="modal-close qaxya124a_124 z5 qaxyb124b_124 qaxyc118c_118 qaxyd116d_116 qaxye18e_18">X</div>
            <a ng-click="close()" class="poxyd11 poxye11" href="<?php bloginfo("url"); ?>">Home</a>
            <a ng-click="close()" class="poxyd11 poxye11" href="<?php bloginfo("url"); ?>/products">Products</a>
            <a ng-click="close()" class="poxyd11 poxye11" href="<?php bloginfo("url"); ?>/about">About</a>
            <a ng-click="close()" class="poxyd11 poxye11" href="<?php bloginfo("url"); ?>/events">Events</a>
            <a ng-click="close()" class="poxyd11 poxye11" href="<?php bloginfo("url"); ?>/visionaries">Visionaries</a>
            <a ng-click="close()" class="poxyd11 poxye11" href="<?php bloginfo("url"); ?>/dealers">Dealers</a>
            <a ng-click="close()" class="poxyd11 poxye11" href="<?php bloginfo("url"); ?>/blog">Blog</a>
          </div>
        </div>
      </section>
    </div>
  </div>
