:php
  /**
   *
   * Chimera template part for displaying the footer
   *
   * @package WordPress
   * @subpackage Chimera
   * @since Chimera 1.0
   */

footer

  - get_template_part( 'part-newsletter-signup');
  - get_template_part( 'part-instagram-feed');


  section.clear.zeta.ha.hb
    .sw
      .cw
        .rel.poxya11a_118.mb0.boulder-co.poxyb11b_112.poxyc11c_110.poxyd11d_18.poxye11e_16
          .wrap
            .rel._oxap11a_p11.tx-c._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
              a.tx-u(href='/about') Boulder Colorado U.S.A
              
  section.clear.zeta
    .sw
      .cw
        .rel.poxya14a_118.mb0.poxyb14b_112.poxyc12c_110.poxyd12d_18.poxye12e_16
          .rel._oxap11a_p11.tx-l._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
            a(href!='<?php bloginfo("url"); ?>') &copy; 2015 Chimera All Rights Reserved.
        .hc.hd.he.mb0
          .rel.poxya12a_118.mb0.boulder-co.poxyb12b_112.poxyc11c_110.poxyd11d_18.poxye11e_16
            .rel._oxap11a_p11.tx-c.boulder-co._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
              a.tx-u(href='/about') Boulder Colorado U.S.A
        .rel.poxya14a_118.mb0.poxyb14b_112.poxyc12c_110.poxyd12d_18.poxye12e_16
          .rel._oxap11a_p11.tx-r._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
            span.txa-r.txb-r.txc-l.txe-c
              a.ml1(href='/faq') FAQ&apos;s
              a.ml1(href='/support') Support
              a.ml1(href='/contact') Contact
