include dev.jade

mixin footer()
	footer
		section.bg10
			.sw
				.cw
					//- .poxya14a_116
						//- .qoxya11a_116.bg-accent
						//-   .beta.tx-r.m3 Friends 5,878

					//- .poxya14a_116

					.poxya14a_116poxyb14b_116poxyc14c_116.tx-r
						.delta Subscribe To Our
						.beta.color-accent Newsletter


					figure.a14a_116b12b_116c12c_18
						input.ap11a_116bp11b_116cp11c_18

					figure.a110a_116b110b_116c14c_18
						button.fill.br25 yes

		section.instagram-feed.pb1.mt0.rel.ofh
			//- .baxyap11.rainbow
			//-   span.a_18.color.red
			//-   span.color.yellow
			//-   span.color.green
			//-   span.color.blue
			.sw.pr2
				.cw
					slick(infinite=true slides-to-show=1 slides-to-scroll=1).slick-carousel.mb0.z6
						div
							section#instafeed.clear.a11a_110b11b_110.white.tx-c.tx-light
								+poxy('110 110 poxy mb0 mr1', '110 110' )
									a(target="_blank", href="http://instagram.com/chimeralighting")
										+h3('3', '3', '1', '1', '1') Follow Us
										.oxy.a118a_118b118b_118(style='background-image: url(images/instagram-icon.png);')
										+poxy('p11 p11 bax')
											+h3('3', '3', '1', '1', '1') Intagram

		section.hide
			.sw
				.cw
					figure.a12a_14b12b_14c11c_13.bg-accent
						.oxy.fill.tx-c
							.alpha.light next contest
							.beta Topic: Food
							.beta Tag: #perfectlight-____
							.gamma End Date: April 3 12:00PM

					.poxya14a_14poxyb14b_14poxyc12c_14
						.wrap
							.poxya14poxyb14c12.mb0.rel
								.gamma.mb2 2015 Catelog
								//- p Need a print version

							.poxya18a_16poxyb18b_16poxyc14c_13.rel.bgpct(style="background-image: url(images/home/catalog-cover.jpg);")

							.poxya14poxyb14.rel
								a(href="#")
									button.zeta.pt4.pb4.pr2.pl2 Download



					figure.a14a_14b14b_18c12c_12d14d_18e12e_12.bg0
						.gamma CHIMERA LIGHTING
						p.mt2 1812 Valtec Lane
						p Boulder, CO 80301
						p.mt2 Toll free: 888-444-1812
						p Phone: 303-444-8000
						p Fax: 303-444-8303
						p.mt2 salesinfo@chimeralighting.com

						.baxya14a_116.mb0
							.wrap
								.facebook-icon.poxya124a_124.rel.mb0
									a(href="#/single-product")
										.paxy.fill(style='background-image: url(images/facebook-icon-black.png);')

								.twitter-icon.poxya124a_124.rel.mb0
									a(href="#/single-product")
										.paxy.fill(style='background-image: url(images/instagram-icon-black.png);')

								.instagram-icon.poxya124a_124.rel.mb0
									a(href="#/single-product")
										.paxy.fill(style='background-image: url(images/instagram-icon-black.png);')


		+section().clear.zeta.ha.hb
			+poxy('11 118 poxy mb0 boulder-co', '11 112', '11 110', '11 18', '11 16')
				.wrap
					+poxy('p11 p11 _ox tx-c')
						a(href="#/about").tx-u Boulder Colorado U.S.A



		+section().clear.zeta
			+poxy('14 118 poxy mb0', '14 112', '12 110', '12 18', '12 16')
				+poxy('p11 p11 _ox tx-l')
					a(href="#") &copy; 2015 Chimera All Rights Reserved.

			.hc.hd.he.mb0
				+poxy('12 118 poxy mb0 boulder-co', '12 112', '11 110', '11 18', '11 16')
					+poxy('p11 p11 _ox tx-c boulder-co')
							a(href="#/about").tx-u Boulder Colorado U.S.A

			+poxy('14 118 poxy mb0', '14 112', '12 110', '12 18', '12 16')
				+poxy('p11 p11 _ox tx-r')
					span.txa-r.txb-r.txc-l.txe-c
						a.ml1(href="#/page-faq") FAQ's
						a.ml1(href="#/page-support") Support
						a.ml1(href="#/page-contact") Contact
