include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade
include mixins/header.jade
include mixins/dev.jade
include mixins/sections.jade



+header_right_3('about/about-3.jpg lc', 'About', 'CHIMERA WAS BORN FROM A PARTNERSHIP BETWEEN A PIONEERING MOUNTAINEER-ENGINEER AND A PHOTOGRAPHER SEARCHING FOR PERFECT LIGHT', 'Read More', '#', 'Jarmo Phojaniemi')

//-
//- +header_tax_left_2('About', 'CHIMERA WAS BORN FROM A PARTNERSHIP BETWEEN A PIONEERING MOUNTAINEER-ENGINEER AND A PHOTOGRAPHER SEARCHING FOR PERFECT LIGHT', 'Read More', '#', 'Jarmo Phojaniemi')(style='background-image: url(images/about/banner-1.jpg);')
//-   p Video Pro Lightbanks are the industry standard in light modifiers. Versatile and lightweight, they are perfect when you need controlled soft lighting on small sets. Useful as a separation light or small fill. These Lightbanks are primarily used with single broad-beamed, open-faced instruments.


+section_1('about/banner-1.jpg cc cover', 'How it all began')
  p.
    Every photographer, videographer, cinematographer and lighting specialist knows it takes more than vision to create a masterpiece. It takes the right equipment.
    And for more than 30 years, Chimera has developed and invented innovative products that have changed the way the industry creates perfect light.
  p.
    It all began when photographer Gary Regester grew weary lugging foam core boxes on location.
    He envisioned creating a collapsible soft box that could be fitted on lights. When he and mountaineering engineer Tom Frost started sharing ideas, the result changed lighting forever. Their first invention was the Illuminata Lightbank, which could be attached to strobe lights with an innovative “feet and strap” set.


+section_1('about/about-2.jpg cc cover', 'A Legacy of innovation')
  p.
    Chimera continues to innovate and invent solutions for photography and film—from the creation of the famed Illuminata,
    to the development of Speed Rings and Pancake Lanterns, to the 2009 introduction of the F2X for large area lighting.
    You can count on us to give you the solutions for tomorrow’s projects!
  p.
    Our lighting essentials and accessories are lightweight, portable,
    durable and heat resistant—making it easy for you to turn your vision into a masterpiece.


+section_1('about/about-1.jpg cc cover', 'Born in the USA')
  p.
    We’re proud to manufacture the vast majority of our products here in beautiful Boulder,
    Colorado. Our products are handcrafted by a team that’s commited to exceptional quality.
    Every Chimera Lightbank is individually inspected and initialed, every step of the way.
    These stringent quality control standards have been created with one thing in mind: your peace of mind.

//-
//-
//- +section()
//-   +image('about/about-3.jpg cc cover', '12 14', '12 14', '12 12', '11 12', '11 12')
//-   +poxy('14 14', '12 14', '12 12', 'pox 11 11', 'pox 11 11')
//-     +text(6) HOW IT ALL BEGAN.
//-     p.
//-       Every photographer, videographer, cinematographer and lighting specialist knows it takes more than vision to create a masterpiece. It takes the right equipment. And for more than 30 years, Chimera has developed and invented innovative products that have changed the way the industry creates perfect light.
//-     p.
//-       It all began when photographer Gary Regester grew weary lugging foam core boxes on location. He envisioned creating a collapsible soft box that could be fitted on lights. When he and mountaineering engineer Tom Frost started sharing ideas, the result changed lighting forever. Their first invention was the Illuminata Lightbank, which could be attached to strobe lights with an innovative “feet and strap” set.
//-
//-
//-
//- +section()
//-   +image('about/about-2.jpg cc cover', '12 14', '12 14', '12 12', '11 12', '11 12')
//-
//-   +poxy('14 14', '12 14', '12 12', 'pox 11 12', 'pox 11 12')
//-     .title.text.beta A LEGACY OF INNOVATION.
//-     p.
//-       Chimera continues to innovate and invent solutions for photography and film—from the creation of the famed Illuminata, to the development of Speed Rings and Pancake Lanterns, to the 2009 introduction of the F2X for large area lighting. You can count on us to give you the solutions for tomorrow’s projects!        p.mt2.
//-     p.
//-       Our lighting essentials and accessories are lightweight, portable, durable and heat resistant—making it easy for you to turn your vision into a masterpiece.
//-
//-
//- +section()
//-   +image('about/about-1.jpg cc cover', '12 14', '12 14', '12 12', '11 12', '11 12')
//-
//-   +poxy('14 14', '12 14', '12 12', 'pox 11 12', 'pox 11 12')
//-     .title.text.beta BORN IN THE USA
//-     p.
//-       We’re proud to manufacture the vast majority of our products here in beautiful Boulder, Colorado. Our products are handcrafted by a team that’s commited to exceptional quality. Every Chimera Lightbank is individually inspected and initialed, every step of the way. These stringent quality control standards have been created with one thing in mind: your peace of mind.        p.mt2.



section.org-icons
  .sw
    .cw
      +poxy('12 14', '12 14', '12 14', '11 12', '11 12')
        .wrap
          +image('about/org-1-64.png cc contain', '18 18', '18 18', '18 18', '14 14', '14 14')
          +image('about/org-2-300.png cc contain', '18 18', '18 18', '18 18', '14 14', '14 14')
          +image('about/org-3-300.png cc contain', '18 18', '18 18', '18 18', '14 14', '14 14')
          +image('about/org-4-300.png cc contain', '18 18', '18 18', '18 18', '14 14', '14 14')
          +image('about/org-5-300.png cc contain', '18 18', '18 18', '18 18', '14 14', '14 14')
          +image('about/org-6-300.png cc contain', '18 18', '18 18', '18 18', '14 14', '14 14')
          +image('about/org-7-300.png cc contain', '18 18', '18 18', '18 18', '14 14', '14 14')
          +image('about/org-8-300.png cc contain', '18 18', '18 18', '18 18', '14 14', '14 14')


      +poxy('14 14', '12 14', '12 12', 'pox 11 12', 'pox 11 12')
        .title.text.beta Organizations We Support
        p.
          Need Description
