include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade
include mixins/header.jade
include mixins/dev.jade
include mixins/sections.jade


+header_right_3('dealers/banner-1.jpg', 'Dealers', 'CHIMERA IS PROUD TO BE ASSOCIATED WITH OUR AUTHORIZED DEALERS.', 'Read More', '#', 'Jarmo Phojaniemi')
