include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade
include mixins/header.jade
//-
//- +header_left('Octa 2 Beauty Dish', 'The World’s First Collapsible, Transportable, Lightweight Beauty Dish.', 'Read More', '#', 'Jarmo Phojaniemi')(style='background-image: url(images/ob2/banner-main-3.jpg);')
//-   //- +lipsum(20, "words")
//-
//-
//- section.bg10
//-   .sw
//-     .cw
//-       .poxya14a_12
//-         .wrap
//-           .poxya14a_14
//-             .title.text.beta Octa 2 Beauty Dish
//-             .gamma The World’s First Collapsible, Transportable, Lightweight Beauty Dish.
//-
//-           figure(style="background-image: url(images/ob2/banner-right.jpg);").a14a_14
//-
//-
//-
//-       figure(style="background-image: url(images/ob2/banner-left.jpg);").a34a_12
//-
//-
//-
//-
//- section.ofh
//-   .sw
//-     .cw
//-       figure.bg-contain.a12a_38.rel
//-         .qaxya34a_38(style="background-image: url(images/ob2/hand-grab.png);")
//-
//-       figure.bg-contain.a12a_38.rel
//-         .beta The World’s First Collapsible, Transportable, Lightweight Beauty Dish.
//-         //- .paxya34a_38(style="background-image: url(images/ob2/hand-grab.png);")
//-
//-
//- section
//-   .sw
//-     .cw
//-       .beta What you get
//-
//- section
//-   .sw
//-     .cw
//-       figure(style="background-image: url(images/ob2/in-bag.jpg);").a12a_14
//-
//-
//- section
//-   .sw
//-     .cw
//-       figure(style="background-image: url(images/ob2/speed-ring.jpg);").bg-contain.a12a_14
//-         .oxy p
//-
//-       .poxya12a_18.ofh
//-         .beta Title
//-         p
//-           +lipsum(150, "words")
//-
//-
//-
//-
//-
//- section
//-   .sw
//-     .cw
//-       .beta Assembly
//-
//- section
//-   .sw
//-     .cw
//-       .poxya12a_12
//-         .wrap
//-           figure(style="background-image: url(images/ob2/step-1.png);").a12a_14
//-             figcaption.zeta.daxya.p4 Fig. 1
//-           figure(style="background-image: url(images/ob2/step-2.jpg);").a14a_14
//-             figcaption.zeta.daxya.p4 Fig. 2
//-
//-           figure(style="background-image: url(images/ob2/step-3.jpg);").a14a_14
//-             figcaption.zeta.daxya.p4 Fig. 3
//-
//-       .poxya14a_14.ofh
//-         .gamma Step 1
//-         p
//-           +lipsum(50, "words")
//-
//-
//-
//- section
//-   .sw
//-     .cw
//-       .poxya12a_12
//-         .wrap
//-           figure(style="background-image: url(images/ob2/step-1.png);").a12a_14
//-             figcaption.zeta.daxya.p4 Fig. 1
//-           figure(style="background-image: url(images/ob2/step-2.jpg);").a14a_14
//-             figcaption.zeta.daxya.p4 Fig. 2
//-
//-           figure(style="background-image: url(images/ob2/step-3.jpg);").a14a_14
//-             figcaption.zeta.daxya.p4 Fig. 3
//-
//-       .poxya14a_14.ofh
//-         .gamma Step 2
//-         p
//-           +lipsum(50, "words")
//-
//-
//-
//-
//- section
//-   .sw
//-     .cw
//-       figure.a14a_14
//-         .oxy p
//-
//-       figure.a14a_14
//-         .oxy p
//-
//-       .poxya12a_18.ofh
//-         .gamma Step 2
//-         p
//-           +lipsum(150, "words")
//-
//-
//- section
//-   .sw
//-     .cw
//-       figure.a14a_18
//-         .oxy p
//-
//-       .poxya12a_18.ofh
//-         p
//-           +lipsum(150, "words")
//-
//- section
//-   .sw
//-     .cw
//-       figure.a14a_18
//-         .oxy .zeta
//-
//-       .poxya12a_18.ofh
//-         p.zeta
//-           +lipsum(200, "words")
//-
//-
//- section
//-   .sw
//-     .cw
//-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12
//-         p
//-           +lipsum(8, "words")
//-         span.paxyap11ap_11
//-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
//-         span.paxyap11ap_11
//-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
//-         span.paxyap11ap_11
//-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
//-         span.paxyap11ap_11
