include mixins/sections.jade
include mixins/header.jade

+header_tax_left_2('Support', 'Film & Video', 'Read More', '#', 'Jarmo Phojaniemi')(style='background-image: url(images/support/support-banner.jpg);')
  p WE'RE HERE TO SUPPORT YOU IN EVERY WAY POSSIBLE.



+section_tax_product('ASSEMBLY & TAKE DOWN', 'The standard-depth banks are extremely lightweight and are primarily used with single broad-beamed, open-faced instruments.', '#/taxonomy-product-child')(style='background-image: url(images/support/support-assembly.jpg);')


+section_tax_product('CARE AND USAGE', 'The standard-depth banks are extremely lightweight and are primarily used with single broad-beamed, open-faced instruments.', '#/taxonomy-product-child')(style='background-image: url(images/support/support-care.jpg);')
+section_tax_product('REPAIR INFORMATION', 'The standard-depth banks are extremely lightweight and are primarily used with single broad-beamed, open-faced instruments.', '#/taxonomy-product-child')(style='background-image: url(images/support/support-repair.jpg);')
+section_tax_product('INSTRUCTION MANUALS', 'The standard-depth banks are extremely lightweight and are primarily used with single broad-beamed, open-faced instruments.', '#/taxonomy-product-child')(style='background-image: url(images/support/support-instructions.jpg);')
+section_tax_product('REPLACEMENT PARTS', 'The standard-depth banks are extremely lightweight and are primarily used with single broad-beamed, open-faced instruments.', '#/taxonomy-product-child')(style='background-image: url(images/support/support-replacement-parts.jpg);')
+section_tax_product('F2 LIGHTBANK RENTALS', 'The standard-depth banks are extremely lightweight and are primarily used with single broad-beamed, open-faced instruments.', '#/taxonomy-product-child')(style='background-image: url(images/support/support-f2-rentals.jpg);')
+section_tax_product('RETURNS AND WARRANTIES', 'The standard-depth banks are extremely lightweight and are primarily used with single broad-beamed, open-faced instruments.', '#/taxonomy-product-child')(style='background-image: url(images/support/support-returns.jpg);')
