include mixins/thumbs.jade
include mixins/slideshow-slide.jade
include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade
include mixins/header.jade

//- +header_left('Jarmo Phojaniemi', 'The World’s First Collapsible, Transportable, Lightweight Beauty Dish.', 'Read More', '#', 'Jarmo Phojaniemi')(style='background-image: url(images/home/banner-1.jpg);')
//-   +lipsum(20, "words")
//-
//- section.home-slideshow.clear
//-   .sw.m0
//-     slick.mb0
//-       +slideshow_slide_center('Jarmo Phojaniemi', 'Chimera co-creates #JarmoStyle', 'Read More', '#', 'Jarmo Phojaniemi')(style='background-image: url(images/home/banner-1.jpg);')
//-         +lipsum(20, "words")
//-
//-       +slideshow_slide('Jarmo Phojaniemi', 'Chimera co-creates #JarmoStyle', 'Read More', '#', 'Jarmo Phojaniemi')(style='background-image: url(images/home/banner-1.jpg);')
//-         +lipsum(20, "words")
//-
//-       +slideshow_slide('Mike Arzt', 'Featured Visonary', 'Read More', '#', 'Mike Arzt')(style='background-image: url(images/home/banner-2.jpg);')
//-         +lipsum(20, "words")
//-
//-       +slideshow_slide_right('Main Title longer', 'Sub Title', 'Button-title', '#', 'Copywrite')(style='background-image: url(images/home/banner-3.jpg);')
//-         +lipsum(20, "words")
//-
//-
//-
//- section
//-   div.sw
//-     div.cw
//-       +thumb_1('#/visionaries', 'Visionaries')(style='background-image: url(images/home/visionaries-thumb.jpg);')
//-       +thumb_1('#/events', 'Events')(style='background-image: url(images/home/events-thumb.jpg);')
//-       +thumb_1('#/about', 'About')(style='background-image: url(images/home/about-thumb.jpg);')
//-       +thumb_1('#/blog', 'Blog')(style='background-image: url(images/home/blog-thumb.jpg);')
