include mixins/sections.jade
include mixins/header.jade
include mixins/mixin-lorem-ipsum.jade

+header_right_3('taxonomy-product/tax-3.png', 'Video PRO', 'Standard', 'Read More', '#', 'Jarmo Phojaniemi')
  p The standard-depth banks are extremely lightweight and are primarily used with single broad-beamed, open-faced instruments.




section
  .sw
    .cw
      .poxa11.mb0
        .wrap
          .poxya112a_118
            .delta Model
            .zeta SKU
          .poxya12a_118
            .delta Description
            .zeta About the product

          .poxya112a_118
            .delta Size
          .poxya112a_118
            .delta Width
            .zeta in/cm
          .poxya112a_118
            .delta Height
            .zeta in/cm
          .poxya112a_118
            .delta Depth
            .zeta in/cm
          .poxya112a_118
            .delta Rating
            .zeta (wattage)





+section_product_info_row('8145', 'LARGE', '54', '135', '72', '180', '30', '75', '1200')
  p Includes three front screens

+section_product_info_row('8145LH', 'LARGE', '54', '135', '72', '180', '30', '75', '1200')
  p
    +lipsum(35, "words")

+section_product_info_row('8144', 'LARGE', '54', '135', '72', '180', '30', '75', '1200')
  p
    +lipsum(35, "words")

+section_product_info_row('8135', 'LARGE', '54', '135', '72', '180', '30', '75', '1200')
  p
    +lipsum(35, "words")

+section_product_info_row('8134LH', 'LARGE', '54', '135', '72', '180', '30', '75', '1200')
  p
    +lipsum(35, "words")

+section_product_info_row('8134', 'LARGE', '54', '135', '72', '180', '30', '75', '1200')
  p
    +lipsum(35, "words")

+section_product_info_row('8145', 'LARGE', '54', '135', '72', '180', '30', '75', '1200')
  p
    +lipsum(35, "words")

+section_product_info_row('8145', 'LARGE', '54', '135', '72', '180', '30', '75', '1200')
  p
    +lipsum(35, "words")

+section_product_info_row('8145', 'LARGE', '54', '135', '72', '180', '30', '75', '1200')
  p
    +lipsum(35, "words")

+section_product_info_row('8145', 'LARGE', '54', '135', '72', '180', '30', '75', '1200')
  p
    +lipsum(35, "words")

+section_product_info_row('8145', 'LARGE', '54', '135', '72', '180', '30', '75', '1200')
  p
    +lipsum(35, "words")

+section_product_info_row('8145', 'LARGE', '54', '135', '72', '180', '30', '75', '1200')
  p
    +lipsum(35, "words")
