include mixins/thumbs.jade
include mixins/slideshow-slide.jade
include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade
include mixins/header.jade


+header_right_3('visionaries/banner-2.jpg lc', 'VISIONARIES', 'VISIONARIES ARE IMAGE-MAKERS WHO NOT ONLY EXCEL AT CREATING BEAUTIFUL ART BUT ALSO ARE DOING WORK WITH PASSION AND PURPOSE.', 'Read More', '#', 'Mike Artz')


//- section
//-   div.sw
//-     div.cw.tx-c
//-       +poxy('14 118')
//-         .oxy.beta.txa-6 Film/Video
//-       +poxy('14 118')
//-         .oxy.beta.txa-6  Photographers
//-       +poxy('14 118')
//-         .oxy.beta.txa-6  Artists
//-       +poxy('14 118')
//-         .oxy.beta.txa-6  Students


+section()
  +thumb_2('#/single-visionaries', 'visionaries/bio-1.jpg cc cover', 'Peter & Kathy Holcombe', 'OUTDOOR & WEDDING PHOTOGRAPHERS')
  +thumb_2('#/single-visionaries', 'visionaries/bio-2.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
  +thumb_2('#/single-visionaries', 'visionaries/bio-3.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
  +thumb_2('#/single-visionaries', 'visionaries/bio-4.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
  +thumb_2('#/single-visionaries', 'visionaries/bio-5.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
  +thumb_2('#/single-visionaries', 'visionaries/bio-6.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
  +thumb_2('#/single-visionaries', 'visionaries/bio-1.jpg cc cover', 'Peter & Kathy Holcombe', 'OUTDOOR & WEDDING PHOTOGRAPHERS')
  +thumb_2('#/single-visionaries', 'visionaries/bio-2.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
  +thumb_2('#/single-visionaries', 'visionaries/bio-3.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
  +thumb_2('#/single-visionaries', 'visionaries/bio-4.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
  +thumb_2('#/single-visionaries', 'visionaries/bio-5.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
  +thumb_2('#/single-visionaries', 'visionaries/bio-6.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
  +thumb_2('#/single-visionaries', 'visionaries/bio-1.jpg cc cover', 'Peter & Kathy Holcombe', 'OUTDOOR & WEDDING PHOTOGRAPHERS')
  +thumb_2('#/single-visionaries', 'visionaries/bio-2.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
  +thumb_2('#/single-visionaries', 'visionaries/bio-3.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
  +thumb_2('#/single-visionaries', 'visionaries/bio-4.jpg cc cover', 'David Clifford', 'COMMERCIAL & EDITORIAL PHOTOGRAPHER')
